
{% extends 'base.html' %}
{% load static %}

{%block title%}
<title>Change Password</title>
{%endblock%}
 
{%block head%}

<link rel="stylesheet" href="{% static 'accounts/css/login-form.css' %}"/> 
<script src="{% static 'accounts/js/forms.js'%}"></script>  

{%endblock%}     
    

{%block body%}
<!--Above is to display error if invalid details are sent
<form method='POST'>
    {% csrf_token %} {{ form.as_p }}
    <input type="submit" value="Change Password">
</form>


<div class="login-modal-container">
<div class="login-modal">
    
    <div class="login-modal-header">
    <h2>Change Password</h2>
    <img src="{% static 'logo.png' %}"/>
    </div>
    <form method='post'>
        {%csrf_token%}
        <div class="login-modal-content">
            <label for="Password">Old password :</label>
            <div class="input-group"> 
                <i class="fa fa-key"></i>
                <i class="fa fa-eye-slash pass-control" onclick="passToggle3();"></i>
                {{form.old_password}}
            </div>
            <label for="Password">New password :</label>
            <div class="input-group"> 
                <i class="fa fa-key"></i>
                <i class="fa fa-eye-slash pass-control" onclick="passToggle4();"></i>
                {{form.new_password1}}
            </div>
            <span id="pass-strength"></span>
            <label for="Password">Confirm:</label>
            <div class="input-group"> 
                <i class="fa fa-key"></i>
                <i class="fa fa-eye-slash pass-control" onclick="passToggle5();"></i>
                {{form.new_password2}}
            </div>
           
        </div>
        <div class="login-modal-footer">
            <button  class="btn-hover color-4" type="submit">Change Password</button>
        </div>
    </form>
</div>
</div>
-->

<div class="page-container">
    <div class="login-modal-container">
      <div class="login-modal">
        <div class="login-modal-header">
          <h2>Change&nbsp;Password</h2>
        </div>
        <form method="post">
          {%csrf_token%}
          <div class="login-modal-content">
            <label for="password">Old Password:</label>
            <div class="input-group">
                {{form.old_password}}
                <div class="controls">
                    <i class="icon fa fa-key"></i>
                    <i
                      class="icon-interactive fa fa-eye-slash pass-control"
                      onclick="toggleInputType('id_old_password');"
                    ></i>
                  </div>
            </div>
            <label for="password">New Password:</label>
            <div class="input-group">
                {{form.new_password1}}
                <div class="controls">
                    <i class="icon fa fa-key"></i>
                    <i
                      class="icon-interactive fa fa-eye-slash pass-control"
                      onclick="toggleInputType('id_new_password1');"
                    ></i>
                  </div>
            </div>
            <label for="password">Confirm:</label>
            <div class="input-group">
                {{form.new_password2}}
                <div class="controls">
                    <i class="icon fa fa-key"></i>
                    <i
                      class="icon-interactive fa fa-eye-slash pass-control"
                      onclick="toggleInputType('id_new_password2');"
                    ></i>
                  </div>
            </div>
          </div>
          <span style="color: red;padding-top: 6px;margin-bottom: 0px; padding-bottom:0px;">
            {{form.old_password.errors}}
            {{form.new_password1.errors}}
            {{form.new_password2.errors}}
            {% if messages %} {% for message in messages %} {{ message}} {% endfor %} {% endif %}
        </span>
          <div class="login-modal-footer">
            <button class="request-password-button" type="submit">
              Change Password
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  



{%endblock%}